//=========login 页面样式========//
@import url('./heard.less');

body{
  overflow-x: hidden;
}
//=========导航栏样式设置=======//
.PerCen {
  .panel-group .panel + .panel{
    margin-top: 0px;
  }
  .panel-body{
  padding-bottom: 0px;
  ul{
    li{
      list-style: none;
      line-height: 35px;
      a{
        color: #0f0f0f;
        font-size: 16px;
      }
    }
  }
}
}

.PerCen_L{
  .panel-heading{
    background-color: transparent;
    img{
      width: 72px;
      border: 2px solid #ddd;
      padding: 10px;
    }
    .pull-left{
      p{
        margin-bottom: 5px;
        margin-left: 50px;
      }
    }
  }
  .panel-body{
    margin: 0 auto;
    .h4{
      margin: 1% 8%;
    }
    .btn_L{
      margin: 4%  auto 4% 0%;
      text-align: center;
      width: 100%;
    }
    .el-accoun-auth-left{
      width: 100px;
    }
  }
}

.PenCen_B{
  .col-sm-4{
    margin-bottom: 50px;
    img{
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }
}

.yingcnag{
  display: none;
  height: 10px;
}

.but1{
  display: none;
}

//========效果的样式设置======//

@media all and (max-width: 768px){

  #personCon{
    height: 860px;
    position: relative;
    left: -50%;
    top: 20px;
    transition: all 2s;
  }

  #personCon.active{
    left: 0%;
  }
  .right_per{
    .PerCen{
      position: absolute;
      left: 0px;
    }
    .PerCen_M{
      position: absolute;
      left: 50%;
      .but1{
        position: absolute;
        left: 3%;
        z-index: 1000;
        background-color: #00ee00;
        display: block;
      }
    }
  }
}
//=======尾部样式引入==========//
@import url('./fooTer.less');